[submodule "plugins/indikator/news"]
	path = plugins/indikator/news
	url = https://github.com/gergo85/oc-news.git
[submodule "plugins/martin/gitreposmanager"]
	path = plugins/martin/gitreposmanager
	url = https://github.com/skydiver/october-plugin-gitreposmanager.git
[submodule "plugins/indikator/backend"]
	path = plugins/indikator/backend
	url = https://github.com/gergo85/oc-backend-plus
