[viewBag]

[proEventList eventList]
style = "simple_list"
calendar = 2
num = 5
eventpage = "event"
==
<!-- Categories -->
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Upcoming Events</strong>
    </div>

    <div class="list-group">

        {% for event in events %}

        <a href="{{ eventpage|page({'event_slug': event.title|replace({' ':'-'})|lower,'event_id': event.id }) }}/" class="list-group-item list-calendar">
            <div class="row">
                <div class="col-xs-2 item-calendar">
                    <div class="month">{{ event.date|date("M") }}</div>
                    <div class="day">{{ event.date|date("d") }}</div>
                </div>
                <div class="col-xs-10">
                    <h6 class="list-group-item-heading">{{ event.title }}</h6>
                    <p class="list-group-item-text">{{ event.excerpt|raw }}</p>
                 </div>
            </div>
        </a>

        {% endfor %}

    </div>
</div>