// HOME
// ----------------------

.home-intro {
    padding-bottom: 20px;
}

.recent-posts {
    .post-list {
        list-style: none;
        padding-left: 0;

        h3 {
            font-size: @font-size-h5;
        }

        .info {
            font-weight: bold;
        }
    }
}