// JOB LISTINGS
// ----------------------

.job-listings {
	list-style: none;
	padding: 0;

	> li {
		border-bottom: solid 1px #eee;
		margin-bottom: 20px;

		&:last-child {
			border-bottom: none;
		}

		h2 {
			margin-top: 14px;
			margin-bottom: 10px;
		}

		.job-details {
			font-weight: bold;
			padding-bottom: 10px;
		}
	}
}

.job {
	.headline {
		span.label {
			top: -5px;
			position: relative;
			font-size: 13px;
			background-color: #f1c40f;
			display: inline;
			padding: .2em .6em .3em;
		}

		span:nth-child(2) {
			padding-left: 15px;
		}
	}
}