title = "Lancaster University Computer Science Society"
url = "/"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "posts"
postPage = "post"
==
<?php
use RainLab\Blog\Models\Post as BlogPost;

function onEnd()
{
    /*
     * List all the posts, eager load their categories
     */
    $posts = BlogPost::with([
        'categories' => function($q) {
            $q->where('id', '<>', '3');
        }
    ])
    ->listFrontEnd([
        'page'       => $this->blogPosts->posts->currentPage(),
        'sort'       => 'published_at desc',
        'perPage'    => $this->blogPosts->posts->perPage()
    ]);

    /*
     * Add a "url" helper attribute for linking to each post and category
     */
    $posts->each(function($post) {
        $post->setUrl($this->postPage, $this->controller);
        $post->categories->each(function($category){
            $category->setUrl($this->categoryPage, $this->controller);
        });
    });

    $this['posts'] = $posts;
}
?>
==
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <section class="home-intro">
                <h1 class="headline"><span>Hello, World!</span></h1>
                <p><strong>Lancaster University Computer Science Society</strong> (LUCSS or LUCompSoc) is a group of like-minded individuals all of whom share a common interest in the realm of computing. We hold hackathons, opportunities to network with industry, invite academics and professionals to give talks, provide either course-specific revision or general interest workshops, and more!</p>
                <p>If you're interested in participating, be sure to join us at our weekly meetup every Thursday at 6pm!</p>
            </section>

            <section class="recent-posts">
                <h1 class="headline"><span>Recent posts</span></h1>

                 <ul class="post-list">
                    {% for post in posts %}
                        <li>
                            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

                            <p class="info">
                                Posted
                                {% if post.categories.count %} in {% endif %}
                                {% for category in post.categories %}
                                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                                on {{ post.published_at|date('M d, Y') }}
                            </p>

                            <p class="excerpt">{{ post.summary }}</p>
                        </li>
                    {% else %}
                        <li class="no-data">{{ noPostsMessage }}</li>
                    {% endfor %}
                </ul>
            </section>

        </div>
        <div class="col-md-4">

            {% partial 'sidebar/home' %}

        </div>
    </div>
</div>